
<form ng-submit="submit(emp)">
  <div class="container">
  <h3>Employee Registration</h3> 
    <div class="form-group">
      <label for="fname">First Name:</label>
      <input type="text" ng-model="emp.fname" class="form-control" id="fname" required>
    </div>

    <div class="form-group">
      <label for="lname">Last Name:</label>
      <input type="text" ng-model="emp.lname" class="form-control" id="lname required>
    </div>
    <div class="form-group">
      <label for="ecode">Emp code:</label>
      <input type="text" ng-model="emp.ecode" class="form-control" id="ecode" required>
    </div>
    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" ng-model="emp.email" class="form-control" id="email" required>
    </div>
    <div class="form-group">
      <label for="place">Place:</label>
      <input type="text" ng-model="emp.place" class="form-control" id="place">
    </div>
    <div class="form-group">
      <label for="phone">Phone:</label>
      <input type="text" ng-model="emp.phone" class="form-control" id="phone">
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
  </div>
</form>